.wrapper-div{
    background: url('../img/bg2.jpg');
}

.page-holder {
    min-height: 100vh ;
  }
  
  .bg-cover {
    background-size: cover !important;
  }

.lead{

  font-size: 25px !important;
}
 
.play-btn-container{

margin-top: 150px;
  
}



  .video-play-button {
    position: relative;
    z-index: 10;
    top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 15px;
    height: 12px;
    background:rgb(43, 37, 36);
    border-radius: 50%;
    padding: 9px 24px 18px 28px;
}
.video-play-button:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 75px;
    height: 75px;
    background: #000000;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 70px;
    height: 70px;
    background: #1b1818;
    border-radius: 50%;
    transition: all 200ms;
    border: solid 4px #fff;
}


.video-play-button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 18px solid #fff;
    border-top: 10px solid transparent;
    border-bottom: 12px solid transparent;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

/* 1st quizz page */


.quiz-option a {
    display: inline-block;
    background-color: #ddd;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border-radius: 4px;
    margin: 10px;
    color: #000000;
    
}

.quiz-option a:hover {
  background-color: #dfd;
  text-decoration: none;
}


.right-ans a {
  display: inline-block;
  background-color: rgb(255, 255, 255);
  padding: 20px 30px;
  font-family: sans-serif, Arial;
  font-size: 25px;
  border-radius: 4px;
  margin: 10px;
  color: #000000;
  
}

.right-ans a:hover {
background-color: #dfd;
text-decoration: none;
}

.prev-page a {
  display: inline-block;
  background-color: rgb(255, 255, 255);
  padding: 20px 30px;
  font-family: sans-serif, Arial;
  font-size: 25px;
  border-radius: 4px;
  margin: 10px;
  color: #000000;    
}

.prev-page a:hover {
  background-color: #dfd;
  text-decoration: none;
  }